<div ng-controller="MapController as ctrl">
  <div class="layout-column">
    <div class="map-control" flex="10">
      <md-button ng-click="ctrl.submitRoute()">Test Route</md-button>
      <md-button ng-if="!ctrl.tiltCheck" ng-click="ctrl.tiltMap()">View in 3D</md-button>
      <md-button ng-if="ctrl.tiltCheck" ng-click="ctrl.restoreMap()">Edit Route</md-button>
    </div>
    <div id="maprotor" flex="90" ng-mousedown="ctrl.mouseDown($event)" ng-mousemove="ctrl.mouseMove($event)" ng-mouseup="ctrl.mouseUp($event)">
      <mapbox callback="ctrl.callback"></mapbox>
    </div>
  </div>
</div>
<!-- <ng-mousedown="ctrl.mouseDown($event)" ng-mousemove="ctrl.rotateMap($event)" ng-mouseup="ctrl.mouseUp($event)"> -->
