
<div layout="column" layout-fill>
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools" id="toolbar">
      <span>wiggler</span>
      <!-- fill up the space between left and right area -->

      <!-- <md-button id="locator" class="md-fab md-accent" aria-label="my location">
        <ng-md-icon icon="my_location" id="navigation-icon" size="35" style=""ng-click="routeCtrl.getLocation()"></ng-md-icon>  -->
  
  </md-button>
      <span flex></span>
      <md-button>
        Sign in
      </md-button>
    </div>
  </md-toolbar>
</div>