<div layout="row" layout-align="center center">
<md-content md-scroll-y class="flex">
      <div layout="row">
        <div flex class="header">
              <div layout="row" layout-fill>
                <md-toolbar class="md-primary">
                  <div class="md-toolbar-tools" id="toolbar">
                    <div layout="row" layout-align="center end">
                      <a ui-sref="main.route-input"><span id="app-name">Wiggler</span></a>
                    </div>   
                  </div>
                </md-toolbar>
              </div>           
        </div>

      </div>
</div>
 <h2>Team Members</h2>
<div class="photos" layout="row" layout-align="space-around center" layout-sm="column">
  <div class="box">
    <img src="../../../../assets/steve.jpeg">
    <br>
    <p class="name">Steve</p>
    <p class="role">Fullstack Engineer</p>    
  </div>
  <div class="box">
    <img src="../../../../assets/aaron.jpeg">
    <br>    
    <p class="name">Aaron</p>
    <p class="role">Fullstack Engineer</p>       
  </div>
  <div class="box">
    <img src="../../../../assets/molly.png">
    <br>    
    <p class="name">Molly</p>
    <p class="role">Fullstack Engineer</p>    
  </div>
  <div class="box">
    <img src="../../../../assets/jia.jpeg">
    <br>    
    <p class="name">Jia</p>
    <p class="role">Fullstack Engineer</p>    
  </div> 
</div>

<div class="info">
  <p>For more information:</p>
  <p id="gith"><a href="https://github.com/HackerJAMS/wiggler">https://github.com/HackerJAMS/wiggler</a></p>
</div>   
</md-content>
