<div layout="row" layout-align="center center">
  <md-content md-scroll-y class="flex">
    <div layout="row">
      <div flex class="header">
        <div layout="row" layout-fill>
          <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" id="toolbar">
              <div layout="row" layout-align="center end">
                <a ui-sref="main.route-input"><span id="app-name">wiggler</span></a>
              </div>
            </div>
          </md-toolbar>
        </div>
      </div>
    </div>
</div>
<h2>Team Members</h2>
<div class="photos" layout="row" layout-align="space-around center" layout-sm="column">
  <div class="box">
    <a href="https://github.com/1276stella" target="_blank">
      <img src="../../../../assets/Jia.jpg"></a>
    <br>
    <p class="name">Jia</p>
    <p class="role">Fullstack Engineer</p>
  </div>
  <div class="box">
    <a href="https://github.com/aspafford" target="_blank">
      <img src="../../../../assets/Aaron.jpg">
    </a>
    <br>
    <p class="name">Aaron</p>
    <p class="role">Fullstack Engineer</p>
  </div>
  <div class="box">
    <a href="https://github.com/mollymerp" target="_blank">
      <img src="../../../../assets/molly.jpg">
    </a>
    <br>
    <p class="name">Molly</p>
    <p class="role">Fullstack Engineer</p>
  </div>
  <div class="box">
    <a href="https://github.com/falconater" target="_blank">
      <img src="../../../../assets/Steve.jpg">
    </a>
    <br>
    <p class="name">Steve</a>
    </p>
    <p class="role">Fullstack Engineer</p>
  </div>
</div>
<div class="info">
  <p>For more information:</p>
  <p id="gith"><a href="https://github.com/HackerJAMS/wiggler">https://github.com/HackerJAMS/wiggler</a></p>
</div>
</md-content>
