<div id="route-sidebar" ng-controller="RouteInputController as routeCtrl">
  
  <div id="route-input-container" layout="row" layout-wrap>
    <div id="form-container" flex="70">
      <div>
        <md-autocomplete md-floating-label="Start" md-selected-item="routeCtrl.selectedStart" md-search-text="routeCtrl.searchStart" md-items="item in routeCtrl.autocompleteQuery(routeCtrl.searchStart)" md-item-text="item.place_name" placeholder="Start">
          <span md-highlight-text="routeCtrl.searchStart">{{item.place_name}}</span>
        </md-autocomplete>
      </div>
      
      <div>
        <md-autocomplete md-floating-label="End" md-selected-item="routeCtrl.selectedEnd" md-search-text="routeCtrl.searchEnd" md-items="item in routeCtrl.autocompleteQuery(routeCtrl.searchEnd)" md-item-text="item.place_name" placeholder="End">
          <span md-highlight-text="routeCtrl.searchEnd">{{item.place_name}}</span>
        </md-autocomplete>
      </div>
    </div>
    
      <div id="arrows-container">
        <ng-md-icon icon="import_export" id="reverse-arrows-icon" size="45" ng-click="routeCtrl.flipStartEnd()"></ng-md-icon>
        
      </div>
      <md-button id="locator" class="md-fab md-mini md-primary" aria-label="my location">
        <ng-md-icon icon="my_location" id="navigation-icon" size="25" style=""ng-click="routeCtrl.getLocation()"></ng-md-icon> 
        <!-- <md-tooltip>My Location</md-tooltip> -->
      </md-button>
      
    
    <md-checkbox class="md-primary" ng-init="routeCtrl.shortestPathChecked = true" ng-click="routeCtrl.shortestPathChecked = !routeCtrl.shortestPathChecked" ng-checked="routeCtrl.shortestPathChecked">
      shortest path
    </md-checkbox>
    <md-checkbox class="md-primary" ng-init="routeCtrl.minElevPathChecked = true" ng-click="routeCtrl.minElevPathChecked = !routeCtrl.minElevPathChecked" ng-checked="routeCtrl.minElevPathChecked">
      min elevation path
    </md-checkbox>  
    <md-checkbox class="md-primary" ng-init="routeCtrl.minBikingChecked = true" ng-click="routeCtrl.minBikingChecked = !routeCtrl.minBikingChecked" ng-checked="routeCtrl.minBikingChecked">
      fastest biking path
    </md-checkbox> 
    <md-checkbox class="md-primary" ng-init="routeCtrl.minHikingChecked = true" ng-click="routeCtrl.minHikingChecked = !routeCtrl.minHikingChecked" ng-checked="routeCtrl.minHikingChecked">
      fastest walking path
    </md-checkbox>
    <div>
      <md-button class="md-raised md-primary" ng-click="routeCtrl.submitRoute()">Get Route</md-button>
      <md-button class="md-raised" ng-click="routeCtrl.submitRoute()">Test Route</md-button>
    </div>
  </div> 

    <!-- <md-switch class="md-primary" >
      shortest path
    </md-switch>
    <md-switch class="md-primary" >
      min elevation path
    </md-switch> -->

</div>

