<div id="route-sidebar" ng-controller="RouteInputController as routeCtrl">

  <div id="route-input-container" layout="row" layout-wrap>
    <div id="form-container" flex="100">
      <div class="layout-row flex">
        <md-button flex="10" class="md-icon-button" ng-click="routeCtrl.getLocation()">
          <i class="material-icons">gps_fixed</i>
        </md-button>
        <md-autocomplete id="form-start" class="auto-complete" flex="90" md-floating-label="Start" md-selected-item="routeCtrl.selectedStart" md-search-text="routeCtrl.searchStart" md-items="item in routeCtrl.autocompleteQuery(routeCtrl.searchStart)" md-item-text="item.place_name" placeholder="Start">
          <span md-highlight-text="routeCtrl.searchStart">{{item.place_name}}</span>
        </md-autocomplete>
      </div>
      <div class="layout-row flex">
        <md-button flex="10" class="md-icon-button" ng-click="routeCtrl.flipStartEnd()">
          <i class="material-icons">swap_vert</i>
        </md-button>
        <md-autocomplete class="auto-complete" flex="90" md-floating-label="End" md-selected-item="routeCtrl.selectedEnd" md-search-text="routeCtrl.searchEnd" md-items="item in routeCtrl.autocompleteQuery(routeCtrl.searchEnd)" md-item-text="item.place_name" placeholder="End">
          <span md-highlight-text="routeCtrl.searchEnd">{{item.place_name}}</span>
        </md-autocomplete>
      </div>
      <div id="path-selection" flex="100" ng-init="routeCtrl.initPathSelection()">
        <div class="layout-col flex">
          <md-switch class="md-hue-4" id="min-elevation-switch" ng-init="routeCtrl.minElevPathChecked = true" ng-click="routeCtrl.minElevPathChecked = !routeCtrl.minElevPathChecked" ng-checked="routeCtrl.minElevPathChecked"><span class="route-type-label">Flattest Route</span></md-switch>
          <md-switch class="md-hue-4" ng-init="routeCtrl.shortestPathChecked = true" ng-click="routeCtrl.shortestPathChecked = !routeCtrl.shortestPathChecked" ng-checked="routeCtrl.shortestPathChecked"><span class="route-type-label">Shortest Route</span></md-switch>
        </div>
        <div class="layout-col flex">
          <md-switch class="md-hue-4" aria-label="Biking directions" ng-init="routeCtrl.minBikingChecked = false" ng-click="routeCtrl.minBikingChecked = !routeCtrl.minBikingChecked" ng-checked="routeCtrl.minBikingChecked">
            <ng-md-icon class="switch-icon" icon="directions_bike" size="25"></ng-md-icon>
            <ng-md-icon class="switch-icon-mobile" icon="directions_bike" size="56"></ng-md-icon>
          </md-switch>
          <md-switch class="md-hue-4" aria-label="walking directions" ng-init="routeCtrl.minHikingChecked = false" ng-click="routeCtrl.minHikingChecked = !routeCtrl.minHikingChecked" ng-checked="routeCtrl.minHikingChecked">
            <ng-md-icon class="switch-icon" icon="directions_walk" size="25"></ng-md-icon>
            <ng-md-icon class="switch-icon-mobile" icon="directions_walk" size="56"></ng-md-icon>
          </md-switch>
        </div>
        <div id="route-submit">
          <md-button id="submit-btn" class="md-raised md-primary" aria-label="get route" ng-click="routeCtrl.submitRoute(); routeCtrl.closeSideNavPanel()">Get Route</md-button>
        </div>
      </div>
    </div>
  </div>

</div>
