.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.shortest_path {
  stroke: $shortest_path
}

.min_elevation_path {
  stroke: $min_elevation_path
}

.fastest_biking {
  stroke: $fastest_biking
}

.fastest_walking {
  stroke: $fastest_walking
}