.map-container {
  margin: 0;
  padding: 0;
  position: relative;
  height: 600px;
  -moz-perspective: 1200px;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1200px;
  -webkit-transform: translate3d(0, 0, 0);
  overflow: hidden;
}

#maprotor {
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  top: -0%;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  &.tilted {
    -moz-transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: visible;
  background: none;
}

.tilted #map {
  cursor: col-resize;
}

#map,
#maprotor,
.leaflet-map-pane,
.leaflet-overlay-pane,
.leaflet-marker-pane,
.leaflet-marker-icon,
.leaflet-popup-pane {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.leaflet-overlay-pane {
  -moz-transform: translateZ(1px);
  -webkit-transform: translateZ(1px);
  pointer-events: none;
}

.leaflet-popup-pane {
  -moz-transform: translateZ(10px);
  -webkit-transform: translateZ(10px);
}

