#main-content md-tabs md-tab-item {
  color: black;
}

md-whiteframe {
  background: #fff;
  margin: 5px;
  margin-top: 0;
  padding: 5px;
  width: 400px;
  height: 700px;
  position: relative;
}

md-tabs.md-default-theme,
md-tabs md-tabs-wrapper {
  border-width: 0 0 1px;
  border-style: solid;
}

.md-button.md-fab.md-mini {
  line-height: 4rem;
  width: 3.5rem;
  height: 2rem;
}

.md-button.md-icon-button {
  height: 80px;
}

#arrows-container {
  width: 30px;
  height: 45px;
}

#reverse-btn {
  min-width: 45px;
  max-height: 35px
}

.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
}

#vertical-container {
  height: 200px;
  width: 400px;
}

#desktop-route-pnl {
  margin-top: 0px;
}


/* route type switches */

md-switch {
  margin: 2px;
}

md-switch.md-checked.flattest .md-thumb {
  background-color: $min_elevation_path;
}

md-switch.md-checked.flattest .md-bar {
  background-color: lighten($min_elevation_path, 40%);
}

md-switch.md-checked.shortest .md-thumb {
  background-color: $shortest_path;
}

md-switch.md-checked.shortest .md-bar {
  background-color: lighten($shortest_path, 40%);
}

md-switch.md-checked.biking .md-thumb {
  background-color: $fastest_biking;
}

md-switch.md-checked.biking .md-bar {
  background-color: lighten($fastest_biking, 40%);
}

md-switch.md-checked.walking .md-thumb {
  background-color: $fastest_walking;
}

md-switch.md-checked.walking .md-bar {
  background-color: lighten($fastest_walking, 40%);
}
