/* if you change these variables, make sure you change the legend colors in the RouteService to match*/


$shortest_path: #2176C7;
$min_elevation_path: #C61C6F;
$fastest_biking: #BD3613;
$fastest_walking: #D9A800;


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import 'map3d';
@import 'markers2d';
@import 'markers3d';
@import 'mapControlsLegend';
@import 'graph2d';

body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

#main-content md-tabs md-tab-item {
  color: black;
}

#locator {
  fill: currentColor; 
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}

#toolbar {
  font-size: 2em;
  margin-bottom: 8px;
}

md-whiteframe {
  background: #fff;
  margin: 5px;
  padding: 5px;
  width: 400px;
  // height: 400px;
  position: relative;
}
md-tabs.md-default-theme,
md-tabs md-tabs-wrapper {
  border-width: 0 0 1px;
  border-style: solid;
}

.md-button.md-fab.md-mini {
  line-height: 4rem;
  width: 3.5rem;
  height: 2rem;
}

.switch-icon {
  display: block;
}
.switch-icon-mobile {
  display: none;
}

#arrows-container {
  width:30px;
  height: 45px;
}
  
#reverse-btn {
  min-width: 45px;
  max-height: 35px
}

#app-name {
  vertical-align: middle;
  font-size: 48px;
}

#sidebar-icon {
  display: none;
}
#sidebar-btn { 
  display: none;
}

.md-button.md-icon-button {
  margin: 10px 0 0 0;
  height: 25px;
  width: 25px;
  i {
    font-size: 18px;
  }
}
.get-directions-btn {
  display: none;
}

.md-input {
  line-height: 100px;
}

#vertical-container {
  height: 200px;
  width: 400px;
}

.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
}

//mobile responsive styling
@media only screen and (max-device-width: 768px) {
   #app-name {
     vertical-align: middle;
     font-size: 64px; }

     .md-button.md-icon-button {
       margin: 10px 0 0 0;
       height: 64px;
       width: 64px;
       i {
         font-size: 56px;
       }
     }

     md-sidenav, 
       md-sidenav.md-locked-open, 
       md-sidenav.md-closed.md-locked-open-add-active {
           min-width: 200px !important;
           width: 100vw !important;
           max-width: none !important;
     }
     md-whiteframe {
       height: 1000px;
     }
     md-input-container {
     line-height : 100px;
   }
   .md-button {
     max-height: 84px;
     line-height: 84px;
     min-width: 72px;
     font-size: 36px;
   }
   #desktop-route-pnl {
     display: none;
   }
   #toolbar {
     // font-size: 64px;
     min-height: 128px;

   }
   #sidebar-icon {
     height: 64px;
     width: 64px;
     font-size: 64px;
     display: block;
   }
   #sidebar-btn { 
     display: block;
   }
   md-tabs-canvas {
    height: 128px;
   }
   .md-tab {
    font-size: 48px;
  
   }
   .md-toolbar-tools {
    height : 128px;
    max-height: 128px;
   }
   .md-toolbar-tools h2 {
    font-size: 56px;
   }
   input {
    font-size: 36px;
   }
   // div.md-container {
   //  width: 80;
   //  height: 80;
   // }
   md-switch {
    font-size: 48px;
   }

   md-switch .md-bar {
    width: 55px;
    height: 25px;
    top:10px;
   }
  md-switch .md-thumb {
    width: 40px;
    height: 40px;
    right: 25px;
    bottom: 60px;
  }
   .switch-icon {
     display: none;
   }
   .switch-icon-mobile {
     display: block;
     margin-left: 50px;
   }
   .md-item-text {
    // font-size: 36px
   }
   // .get-directions-btn {
   //  display: block;
   //  margin-left: 60px;
   //  // right: 0;
   //  // bottom: 0;
   // }
   #vertical-container {
    height: 900px;
    width: 100%;
   }
   // md-content {
   //  font-size: 18px;
   // }
   .repeated-item {
    height: 90px;
    font-size: 48px;
   }
   #directions-title {
    font-size: 38px;
   }
   md-pagination-wrapper{
    height: 96px;
   }
   .route-type-label{
    margin-left: 50px;
   }
   md-input-container.ng-scope.flex{
    font-size: 48px;
   }
   
}

.md-virtual-repeat-container {
  margin-top: 10px;
}

#route-sidebar {
  font-size: 14px;
}

#route-sidebar {
  md-divider {
    margin: 10px 0px;
  }
  .md-raised {
    font-size: 12px;
    margin-top: 20px;
  }
}