@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
$green: #8EE5A3;
body {
  background-color: white;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  /* &.rotated {
    perspective: 1200;
    #map {
      overflow-y: visible;
      overflow-x: hidden;
      -moz-transform:rotateX(60deg);
      -webkit-transform:rotateX(60deg);
    }
    #map,
    #map * {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    .marker {
      -webkit-transform: translateZ(1px);
      transform: translateZ(1px);
      transform: rotateX(90deg);
      transform-origin: top center;
    }
  }*/
}

.tilted .leaflet-tile-container img {
  pointer-events: none;
}

.app-container {
  width: 100%;
  height: 100%;
}

md-content,
#main-content {
  height: 100%;
}

.map-container {
  margin: 0;
  padding: 0;
  position: relative;
  -moz-perspective: 1200px;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1200;
  -webkit-transform: translate3d(0, 0, 0);
  overflow: hidden;
}

#maprotor {
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  top: -0%;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: visible;
  background: none;
}

#maprotor.tilted {
  -moz-transform: rotateX(60deg);
  -webkit-transform: rotateX(60deg)
}

.leaflet-container {
  background: none;
}


/* set up our 3D space */

#map,
#map * {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#map,
#maprotor,
.leaflet-map-pane,
.leaflet-overlay-pane,
.leaflet-marker-pane,
.leaflet-marker-icon,
.leaflet-popup-pane {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.leaflet-overlay-pane {
  -moz-transform: translateZ(1px);
  -webkit-transform: translateZ(1px);
  pointer-events: none;
}

.leaflet-popup-pane {
  -moz-transform: translateZ(10px);
  -webkit-transform: translateZ(10px);
}

.tilted #map {
  cursor: col-resize;
}

.elevmarker {
  -moz-transform: rotateX(90deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg);
  -webkit-transform-origin: 0% 0%;
  transform-style: preserve-3d;
  margin: 6px;
}

.markerline {
  width: 4px;
  margin-left: -2px;
  background: #30a07A;
  height: 0px;
  -moz-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}

.elevfigure {
  display: none;
  font-size: 1.4em;
  transform: rotateX(180deg);
}

.elevmarker:hover .elevfigure {
  display: block;
}

.tilted .elevations {
  display: block
}

.map-control {
  z-index: 999;
}

.map-control button {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid;
  margin-top: 12px;
}


/* move button out of the way of zoom-in/out control */

.map-control button:first-of-type {
  margin-left: 60px;
}
