@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
$green: #8EE5A3;
body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

div.line {
    width: 30px;
    display: inline-block;
    border-style: solid;
    border-width: 0 0 3px 0;
    margin: 4px 0px;
}
.line.red {
  border-color: red
}
.line.blue {
  border-color: blue
}

path.leaflet-clickable.route-shortestPath {
  stroke: red
}

path.leaflet-clickable.route-minElevationPath {
  stroke: blue
}

.tilted .leaflet-tile-container img {
  pointer-events: none;
}

path.leaflet-clickable {
  stroke-width: 4px;
  stroke-dashoffset: 10000;
  stroke-dasharray: 10000;
  -moz-transition: stroke-dashoffset 3s;
  -webkit-transition: stroke-dashoffset 3s;
  pointer-events: none;
}


.tilted path.leaflet-clickable,
.tilted .leaflet-control-container {
  display: none;
}

.app-container {
  width: 100%;
  height: 100%;
}

md-content,
#main-content {
  height: 100%;
}

.map-container {
  margin: 0;
  padding: 0;
  position: relative;
  height: 600px;
  -moz-perspective: 1200px;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1200;
  -webkit-transform: translate3d(0, 0, 0);
  overflow: hidden;
}

#maprotor {
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  top: -0%;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: visible;
  background: none;
}

#maprotor.tilted {
  -moz-transform: rotateX(60deg);
  -webkit-transform: rotateX(60deg)
}

.leaflet-container {
  background: none;
}


/* set up our 3D space */

#map,
#map * {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#map,
#maprotor,
.leaflet-map-pane,
.leaflet-overlay-pane,
.leaflet-marker-pane,
.leaflet-marker-icon,
.leaflet-popup-pane {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.leaflet-overlay-pane {
  -moz-transform: translateZ(1px);
  -webkit-transform: translateZ(1px);
  pointer-events: none;
}

.leaflet-popup-pane {
  -moz-transform: translateZ(10px);
  -webkit-transform: translateZ(10px);
}

.tilted #map {
  cursor: col-resize;
}

.elevmarker {
  -moz-transform: rotateX(90deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg);
  -webkit-transform-origin: 0% 0%;
  transform-style: preserve-3d;
  margin: 6px;
}

.tilted .elevations {
  display: block
}

.elevations {
  opacity: 0.5;
  display: none;
}

.markerline {
  width: 4px;
  margin-left: -2px;
  background: #30a07A;
  height: 0px;
  -moz-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}

.markercircle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: -2px;
  background: #60d0aA;
  -moz-transform: rotateX(90deg);
  -moz-transform-style: preserve-3d;
  // -webkit-transform: rotateX(90deg);
  -webkit-transform-style: preserve-3d;
}

.bottomcap {
  background: #30a07A;
}

.elevfigure {
  background: purple;
  border-radius: 3px;
  color: white;
  display: none;
  margin-top: 10px;
  padding: 0px 4px;
  text-align: center;
  transform: rotateX(180deg);
  width: 100px;
  -webkit-transform: rotateX(180deg) translateX(-50%);
}

.marker-shortestPath {
  background-color: red
}

.marker-minElevationPath {
  background-color: blue
}

.elevmarker:hover .elevfigure {
  display: block;
}

.tilted .elevations {
  display: block
}

#main-content md-tabs md-tab-item {
  color: black;
}


.map-controls button {
  z-index:999;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid;
  margin-top: 12px;
}

/* move button out of the way of zoom-in/out control */

.map-controls button:first-of-type {
  margin-left: 60px;
}
